<div class="container" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-between">
    <div class="wrapper top-wrapper" fxFlex="100%">
        <h1 class="title">ポップンwiki Lv間目安難易度表 ラインジェネレータ</h1>
        <div class="explanation">
            <h4>How to Use ?</h4>
            <div class="list-wrapper">
                <ol>
                    <li>曲の一般情報を入力</li>
                    <li>チェックボックスから譜面の属性を指定</li>
                    <li>テキストボックスをクリックで内容をコピー！</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="wrapper main-wrapper" fxFlex="100%">
        <div class="p-circle-difficulty-list-form" fxFlex="50%" fxFlex.md="100%" fxLayoutGap="20px">
            <div class="info-field">
                <h1>曲の一般情報</h1>
                <mat-form-field class="mat-form-field">
                    <mat-label>Lv</mat-label>
                    <input type="number" min="29" max="50" matInput [(ngModel)]="pCircleDifficultyList.lv">
                    <mat-hint>例: 48</mat-hint>
                </mat-form-field>
                <br />
                <mat-form-field class="mat-form-field">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput [(ngModel)]="pCircleDifficultyList.name">
                    <mat-hint>例: 未完成ノ蒸氣驅動乙女(EX)</mat-hint>
                </mat-form-field>
                <br />
                <mat-form-field class="mat-form-field">
                    <mat-label>Link</mat-label>
                    <input type="text" matInput [(ngModel)]="pCircleDifficultyList.link">
                    <mat-hint>例: 難易度表:未完成ノ蒸氣驅動乙女_ex</mat-hint>
                </mat-form-field>
                <br />
            </div>
            <div class="attribute-field">
                <h1>属性</h1>
                <mat-card class="attribute-card" *ngFor="let attr of pCircleDifficultyList.attr">
                    <mat-checkbox class="attribute-checkbox" [(ngModel)]="attr.isEnabled" color="warn">
                        {{attr.showName}}
                    </mat-checkbox>
                    <br>
                    <mat-form-field appearance="fill" *ngIf="attr.attrInDetail.length > 0">
                        <mat-label>詳細属性を指定</mat-label>
                        <mat-select [(ngModel)]="attr.selectedAttrInDetail">
                            <mat-option>未指定</mat-option>
                            <mat-option *ngFor="let attrInDetail of attr.attrInDetail"
                                [value]="attrInDetail.propertyName">
                                {{attrInDetail.showName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p>{{attr.selectedAttrInDetail}}</p>
                </mat-card>
                <pre>{{pCircleDifficultyList|json}}</pre>
            </div>
        </div>
        <div class="clipboard-container" fxFlex="50%" fxFlex.md="100%">
            <app-p-circle-difficulty-list-line-generator [pCircleDifficultyList]="pCircleDifficultyList"></app-p-circle-difficulty-list-line-generator>
        </div>
    </div>
</div>